[submodule "SharedModules"]
	path = SharedModules
	url = git@github.com:ATMOSphere1234321/ATMOSphere-SmartTube-SharedModules.git
	branch = main
[submodule "MediaServiceCore"]
	path = MediaServiceCore
	url = git@github.com:ATMOSphere1234321/ATMOSphere-SmartTube-MediaServiceCore.git
	branch = main
